<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Passages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/passages.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Verses -->
    <div class="container" id="versesContainer" ng-controller="VersesController">
      <div class="page-header">
        <h1><span class="glyphicon glyphicon-book"></span>&nbsp;Passages&nbsp;<small style="font-size: 14px;">Beta</small></h1>
      </div>
      
      <form class="form-inline" style="margin-bottom: 30px;" role="form" ng-submit="addVerse()">
        <div class="form-group">
          <input type="text" class="form-control" id="verseInput" placeholder="Enter a verse here..." ng-model="verseInput">
        </div>
        <div class="form-group">
          <button type="submit" id="addButton" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </form>
    
      <button type="button" class="btn btn-danger pull-right" style="margin-bottom: 10px;" ng-click="clearAllVerses()" ng-show="verses.length > 0">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;All
      </button>
      <table class="table table-hover" style="margin-bottom: 80px; font-size: 24px;">
        <tr ng-repeat="verse in verses" id="verseRow{{verse.id}}" style="height: 50px; vertical-align: middle;" ng-click="selectVerseRow(verse.id)">
          <td style="width: 100px;">
            <button type="button" id="moveButtonUp" class="btn btn-primary btn-sm" style="display: none;" ng-click="moveVerseUp(verse.id)">
              <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button type="button" id="moveButtonDown" class="btn btn-primary btn-sm" style="display: none;" ng-click="moveVerseDown(verse.id)">
              <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
            <span id="orderNumber" style="font-weight: bold;">
              {{verse.id}}.
            </span>
          </td>
          <td>
            {{verse.text}}
          </td>
          <td style="width: 20px;">
            <button type="button" id="deleteButton" class="btn btn-danger btn-sm" ng-click="deleteVerse(verse.id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </table>
      
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <button type="button" class="btn btn-success navbar-btn pull-right" style="margin-right: 5px;" ng-click="createPresentation()" ng-show="verses.length > 0">
          Create Presentation &nbsp; <span class="glyphicon glyphicon-play"></span>
        </button>
      </nav>
    </div>
    
    <!-- Presentation -->
    <div class="container" id="presentationContainer">
      <div class="page-header">
        <h1 id="slideVerse"></h1>    
      </div>
      
      <div id="slide" style="margin-bottom: 80px;">
        <blockquote>
          <p style="font-size: 30px;" id="slidePassage"></p>
        </blockquote>
      </div>
      
      <nav class="navbar navbar-default navbar-fixed-bottom" style="margin-left: 5px;" role="navigation">
        <button class="btn btn-primary navbar-btn" id="previousVerseButton">
          <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<span id="previousVerseButtonText">Previous</span>
        </button>
        <button class="btn btn-primary navbar-btn pull-right" style="margin-right: 5px;" id="nextVerseButton">
          <span id="nextVerseButtonText">Next</span>&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-danger navbar-btn pull-right" style="margin-right: 5px; display: none;" id="finishPresentationButton">
          Finish&nbsp;<span class="glyphicon glyphicon-stop"></span>
        </button>
      </nav>      
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/passages.js"></script>
    
    <script>
      $(document).ready(function() {
      });
    </script>
  </body>
</html>
